input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.filterGroup{
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 0px;
    width: 100%;
    border-bottom: 1px solid #858282!important;
}

.priceTitles{
    border: none;
    background-color: #fff;
}

.priceInputs{
    border-radius: 5px !important;
}

.filterGroupTitle{
    font-weight: bold;
}

.priceInputGroups{
    padding-left: 0 !important;
}

.form-check-input {
    border-color: rgb(68, 67, 67) !important;
}

.subCategroyDiv{
    padding-left: 20px;
}

.categoryTitle{
    font-weight: 600;
}