.searcResultContainer{
    padding-top: 50px;
    padding-left: 55px;
    padding-right: 55px;
}

.searchResultsFilter{
    border-radius: 15px !important; 
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: #ffffff;
    width: 100%;
    height: auto;
}

.searchResults{
    background-color: aquamarine;
    width: 100%;
    height: 400px;
}